---
layout: docs
---
<div class="home-content">
  <h1 class="home-title">Posts</h1>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      {%- if post.summary -%}
        <p class="post-summary">{{ post.summary }}</p>
      {%- endif -%}
      <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: "%b %-d, %Y" }}
      </time>
    </li>
    {%- endfor -%}
  </ul>
</div>
